<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="luisApp">
    <header>
        <h2>Simple CRUD with angular JS</h2>
    </header>
    <div ng-controller="simplecrud">
        <table>
            <tr class="center">
                <td>Numero</td>
                <td>Nombre</td>
                <td>Pais</td>
                <td>Editar</td>
                <td>Ver</td>
                <td>Borrar</td>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    <input type="text" ng-model="user.numero" ng-show="user.editable">
                    <span ng-hide="user.editable">{{ user.numero }}</span>
                </td>
                <td>
                    <input type="text" ng-model="user.nombre" ng-show="user.editable">
                    <span ng-hide="user.editable">{{ user.nombre }}</span>
                </td>
                <td>
                    <input type="text" ng-model="user.pais" ng-show="user.editable">
                    <span ng-hide="user.editable">{{ user.pais }}</span>
                </td>
                <td>
                    <span ng-click="edit($index)" ng-hide="user.editable" class="boton">Edit</span>
                </td>
                <td>
                    <span ng-click="save($index)" ng-show="user.editable" class="boton">Save</span>
                </td>
                <td>
                    <span ng-click="delete($index)" class="boton"> | Delete</span>
                </td>
            </tr>
        </table>
        <span ng-click="add()" class="boton">Add New</span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>