body{
    margin:10px;
    font-size:14px;
    font-family:Arial;
  }
  table{
    border:1px solid #333;
    border-collapse:collapse;
    width:100%;
  }
  table tr td{
    border:1px solid #333;
    padding:10px;
  }
  table tr td span{
    cursor:pointer;
  }

  header {
      text-align: center;
      text-decoration: blue;
  }

  .center {
      text-align: center;
      
  }

  .boton {
      border: 2px solid peru;
      background-color: plum;
  }